
<app-main-header></app-main-header>
<app-main-sidebar></app-main-sidebar>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Tableau de bord</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner text-center">
                    <p>Nombre de tickets</p>
                    <h3>{{ allTickets?.length }}</h3>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
       
            </div>
        </div>


          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning ">
              <div class="inner text-center">
                  <p>Tickets en cours</p> 
                    <h3>{{ ticketsEncours.length }}</h3> 
                  
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                
            </div>
        </div>
        
          <!-- Nombre d'utilisateurs -->
      <div class="col-lg-3 col-6">
        <div class="small-box bg-secondary">
          <div class="inner text-center">
                        <p>Utilisateurs</p>
            <h3>{{ nombreUtilisateurs }}</h3>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
       
        </div>
      </div>
      <!-- Nombre de techniciens -->
      <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
          <div class="inner text-center">
            <p>Techniciens</p>
            <h3>{{ nombreTechniciens }}</h3> 
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
      
        </div>
      </div>

        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-7 connectedSortable">
                       <!-- Custom tabs (Charts with tabs)-->
                       <div class="container">
                        <canvas id="myChart" width="450" height="450"></canvas>
                      </div>
                      
            


            <!-- /.card -->
          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-5 connectedSortable">

          <!-- Liste des tickets -->
<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      <i class="ion ion-clipboard mr-1"></i>
      Les derniers tickets
    </h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <ul class="todo-list" data-widget="todo-list">
      <!-- Utilisez *ngFor pour parcourir les tickets et les afficher -->
      <li *ngFor="let ticket of latestTickets">
        <!-- drag handle -->
        <span class="handle">
          <i class="fas fa-ellipsis-v"></i>
          <i class="fas fa-ellipsis-v"></i>
        </span>

        <span class="text">{{ ticket.title }}</span>
        <!-- Emphasis label -->
        <small class="badge badge-{{ getStatusBadgeColor(ticket.status) }}"><i class="far fa-clock"></i> {{ getFormattedStatus(ticket.status) }}</small>
        <!-- General tools such as edit or delete-->
        <div class="tools">
          <i class="fas fa-edit"></i>
          <i class="fas fa-trash-o"></i>
        </div>
      </li>
    </ul>
  </div>

</div>
<!-- /.card -->

<!--fin  Liste des tickets -->

           

         
          </section>
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <app-control-sidebar></app-control-sidebar>
  <app-main-footer></app-main-footer>
